<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1>
      Measurement Converter
    </h1>

<form method="post" action="/convertMeasures" class="bg-info">


  Convert from:
  <select name="type1">
    <option>pints</option>
    <option>cups</option>
    <option>tablespoons</option>
  </select>

  Amount:
  <input type="text"
         name="type1amount"
         placeholder=""><br>

  Convert to:
  <select name="type2">
    <option>pints</option>
    <option>cups</option>
    <option>tablespoons</option>
  </select>


  <input type="submit" value="Convert">
</form>

<hr>



<%- include('bootfooter') -%>
