<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>ReciMe: Your Cooking Haven</h1>
        <p>A place for you to keep track of all your favorite recipes!</p>
    </div>



<%- include('bootfooter') -%>
